.cover__link {
  min-height: calc(0.625*((100vw - 1024px)/256 * 160 + 1024px));
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.5s linear;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__link:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (min-width: 1440px) {
  .cover__link {
    min-height: 840px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .cover__link {
    min-height: calc(0.625*((100vw - 1280px)/160 * 160 + 1184px));
  }
}

@media screen and (max-width: 1041px) {
  .cover__link {
    min-height: calc(0.625*100vw);
  }
}

@media screen and (max-width: 337px) {
  .cover__link {
    min-height: 200px;
  }
}




