.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
  transition: opacity 0.5s linear;
}

.place__link:hover {
  opacity: 0.3;
}
