.page__footer {
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .page__footer {
    margin-top: calc((100% - 768px)/256 * 4 + 88px);
  }
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin-top: calc((100% - 320px)/448 * 24 + 64px);
  }
}



