.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 12px;
}

@media screen and (max-width: 537px) {
  .place__website {
    width: calc((100% - 320px)/200 * 180 + 288px);
  }
}
